.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10%;
}

.elt {
  padding-bottom: 5%;
}

.loader {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 25%;
}

.homepage {
  justify-content: center;
  align-items: center;
  text-align: center;
}
