/*Welcome Styles*/

.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10%;
}

.elt {
  padding-bottom: 5%;
}

.loader {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 25%;
}

/*Homepage Styles*/

.homepage {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homepage-list {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 40;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  margin-right: 20px;
}

.welcome-text {
  padding: 40px;
}

.about-yourself-text {
  font-size: 20px;
}

.follower-playlist-text {
  font-size: 16px;
}

.top-tracks-text {
  font-size: 16px;
}

.user-image {
  border: 2px solid #1db954;
}

/*Song Modal Styles*/

.music-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f2f2f2;
}

.music-panel__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.music-panel__album,
.music-panel__artists {
  font-size: 16px;
  margin-bottom: 5px;
}

.music-panel__artist {
  margin-right: 5px;
}

.music-panel__button {
  padding: 10px 20px;
  background-color: #1db954;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.music-panel__button:hover {
  background-color: #169f41;
}

.music-panel__message {
  font-size: 14px;
  color: #1db954;
  margin-top: 10px;
}

.music-panel__image {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

/* Choose Playlists Styles*/
.playlist-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.playlist-card {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid #1db954;
  border-radius: 4px;
  overflow: hidden;
}

.playlist-box {
  display: flex;
  align-items: center;
}

/* Recommednations Styles*/

.rec-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
}

.rec-image {
  border: 2px solid #1db954;
  border-radius: 4px;
  margin-left: 10px;
}

.rec-item {
  border: 1px solid #1db954;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}
